<header class="article__header">
  <h2>{{ article__title }}</h2>
  <span class="article__headline">{{ article__headline }}</span>
  <dl class="article__date">
    <dt class="article__date-key">{{ article__date-key }}</dt>
    <dd class="article__date-value"><time datetime="2021-07-31T19:19:17.480Z">{{ article__date-value }}</dd>
  </dl>
  <dl class="article__category">
    <dt class="article__category-key">{{ article__category-key }}</dt>
    <dd class="article__category-value"><a class="link" href="/tag/post/">{{ article__category-value }}</a></dd>
  </dl>
</header>