<!DOCTYPE html>
<html lang="en-GB">
{% include "_head.njk" %}
<body>
  <main>
    {% include "_header.njk" %}
    {% block article %}
    {% endblock %}
  </main>
{% include "_footer.njk" %}
</body>
</html>