<footer class="footer">
  {{ site.desc }}
  <ul class="nav__menu">
    {%- for page in collections.page -%}
      <li><a class="link" href="{{ page.url | url }}">{{ page.data.title }}</a></li>
    {% endfor %}
  </ul>
  </footer>