<hr class="hidden">
<footer class="footer">
  {% if permalink %}
    <p><a href="https://nownownow.com/" title="Sites with a /now page">Sites with a /now page</a>.</p>
  {% else %}
  {% endif %}
  <p>&copy; 2022 Linda. Built with <a href="https://www.11ty.dev/" title="Eleventy">11ty</a>.</p>
</footer>