<footer class="footer">
  <p>&copy; 2022 Linda</p>
  {% if permalink %}
    <p><a href="https://nownownow.com/" title="Sites with a /now page">Sites with a /now page</a>.</p>
  {% else %}
  {% endif %}
  <p>Built with <a href="https://www.11ty.dev/">11ty</a>.</p>
</footer>