<header class="header">
  <nav>
    <ul class="nav__breadcrumb">
      {% set navBreadcrumb = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) %}
      {%- for item in navBreadcrumb %}
        <li>{% if item.url == page.url %}{{ item.title }}{% else %}<a href="{{ item.url | url }}">{{ item.title }}</a>{% endif %}</li>
      {%- endfor %}
    </ul>
  </nav>
</header>