<header class="header">
  <nav>
    <div class="nav__breadcrumb">
      {% set navBreadcrumb = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: false }) %}
      {%- for item in navBreadcrumb %}
        <p>{% if item.url == page.url %}{{ item.title }}{% else %}<a href="{{ item.url | url }}">{{ item.title }}</a>{% endif %}</p>
      {%- endfor %}
    </ul>
  </nav>
</header>