<header class="header">
  <nav class="header__title">
    <ul class="nav__breadcrumb">
      <li>


      {% if page.url == "/"%}
      
      {{ site.title }}
      
      {% else %}
      
      <a href="/">{{ site.title }}</a>
      
      {% endif %}
</li>



      {% set navBreadcrumb = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: false }) %}
      {%- for item in navBreadcrumb %}
        <li>{% if item.url == page.url %}{{ item.title }}{% else %}<a href="{{ item.url | url }}">{{ item.title }}</a>{% endif %}</li>
      {%- endfor %}
    </ul>
  </nav>
  <!--ul class="nav__menu">
    {%- for page in collections.page -%}
      <li class="nav__menu__item"><a href="{{ page.url | url }}">{{ page.data.title }}</a></li>
    {% endfor %}
  </ul-->
</header>