<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item"><a href="{{ page.url | url }}">one{{ page.data.title }}</a></li>
    <li class="nav__item"><a href="{{ page.url | url }}">two{{ page.data.title }}</a></li>
  </ul>
</nav>