@import url("_colors.css");
@import url("_fonts.css");
:root {
  --font__custom__heading: 'Faune Display';
  --font__custom__headline: 'Alegreya';
  --font__custom__body: 'Manrope';
  --font__custom__mono: 'Fantasque Sans Mono';
  --font__sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font__serif: Times, Times New Roman, Palatino, Bookman, New Century Schoolbook, serif;
  --font__mono: Consolas, 'Courier New', Courier, monospace;
  font-size: 1.66rem;
}
/* --------------------------- Utility */
dl, ul, ol,
li, dt, dd,
h1, h2, h3, h4,
body, main, header, footer, section, article,
p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hidden {
    display: none;
}
/* --------------------------- Layout */
body {
  background-color: var(--color__bg);
  color: var(--color__primary);
  display: grid;
  grid-template-columns: 1fr minmax(10em,40em) 1fr;
  grid-template-rows: min-content auto 1fr min-content;
  grid-template-areas:
    "header header header" 
    ". . ."
    ". main ."
    ". footer ."
  ;
  align-content: center;
  min-height: 100vh;
  padding: 0 1rem;
}
.header {
  grid-area: header;
  display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  margin: 1rem 0 1rem 0rem;
  }
.main {
  grid-area: main;
  border-bottom: solid var(--color__secondary);
}
.footer {
  font-family: var(--font__custom__body), var(--font__serif);
  font-size: 0.6rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  grid-area: footer;
  display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    align-items: center;
    gap: 0.5rem;
  margin: 1rem 0;
}
/* --------------------------- Navigation */
a {
  box-sizing: border-box;
  color: var(--color__secondary);
  fill: var(--color__secondary);
  margin: 0;
  text-decoration: solid underline 0.075em var(--color__secondary);
}
a:active {
  color: var(--color__primary);
  fill: var(--color__primary);
}
a:focus {
  outline: 0.2em dashed var(--color__cta);
  outline-offset: 0.1em;
}
a:hover {
  background-color: var(--color__secondary);
  color: var(--color__bg);
  fill:var(--color__bg);
  text-decoration-color: inherit;
}
/* --------------------------- Navigation :: Breadcrumb */
.nav__breadcrumb {
  display: flex;
  font-family: var(--font__custom__mono), var(--font__mono);
  font-size: calc(1rem * 0.66);
  font-weight: bold;
  list-style: none;
  text-transform: capitalize;
}
.nav__breadcrumb p::before {
  content: '\00a0>\00a0';
}
.nav__breadcrumb p:first-child::before {
  content: '';
}
/* --------------------------- Navigation :: Menu */
.nav__menu {
  font-family: var(--font__custom__mono), var(--font__mono);
  font-size: calc(1rem * 0.66);
  font-weight: normal;
  line-height: 0.75;
  list-style: none;
  text-align: right;
}
.nav__menu__item {
  margin-bottom: 1em;
}
  .nav__menu__item::after {
    content: '\00a0<\00a0';
  }
/* --------------------------- Headings */
.page__title {
  border-bottom: solid var(--color__secondary);
  color: var(--color__primary);
  font-family: var(--font__custom__heading);
  font-size: calc(2rem + 4vw);
  font-weight: bold;
  letter-spacing: -0.05em;
  line-height: 1.1;
  margin-left: -0.04em;
  text-align: center;
  text-shadow: /* paints over border by applying 'glow', courtesy of https://a11y-101.com/development/underlined-links */
    0.015em 0.015em var(--color__bg),
    0.015em -0.015em var(--color__bg),
    -0.015em 0.015em var(--color__bg),
    -0.015em -0.015em var(--color__bg);
}
.page__headline,
.page__body > p:first-of-type {
  font-family: var(--font__custom__headline), var(--font__serif);
  font-size: calc(1rem + 3vw);
  line-height: 1.3;
}

/* --------------------------- Formatting */
abbr {
  font-variant: small-caps;
  font-size: 0.75em;
  letter-spacing: 0.1em;
}
abbr[title],
dfn[title] {
  text-decoration: underline double 0.05em var(--color__cta);
  cursor: help;
}
code {
  background: var(--color__primary);
  color: var(--color__bg);
  font-family: var(--font__custom__mono), var(--font__mono);
  font-size: 0.75em;
}
pre {
  overflow-x: auto;
  padding: 1rem;
  white-space: pre-wrap;
}
sup {
  font-weight: bold;
}
/* --------------------------- Formatting :: Paragraphy */
.page__body {
  font-family: var(--font__custom__body), var(--font__serif);
  font-size: 0.7rem;
  line-height: 1.3;
}
.page__body p {
  margin: 0.5em auto;
}

/* --------------------------- Formatting :: Quotes */
blockquote {
  color: var(--color__primary);
  margin: 1em 0;
  padding: 2em;
  position: relative;
}
blockquote::before { content: '\201C';}
blockquote::after  { content: '\201D';}
  blockquote cite {
    font-size: 0.8em;
    position: absolute;
    bottom: 1em;
    right: 1em;
  }
  blockquote cite::before {
    content: '\2013';
  }
cite,
q {
  font-style: italic;
}
/* --------------------------- Images */
.img {
  fill: currentColor;
  height: 100%;
  object-fit: contain;
  width: 100%;
}
/* --------------------------- Lists */
ul {
  list-style: outside circle;
}
ul ul {
  margin-left: 1rem;
}
.main ul,
.main ol {
  margin: 1em 0;
}
.main li {
  margin: 0.5em 0;
  line-height: 1.3em;
} 
/* --------------------------- The Rest */

hr {
  background: var(--color__fg);
  border: 0;
  height: 2px;
  margin: 1.5rem auto;
  width: 33%;
}