:root {
  --color__bg: whitesmoke;
  --color__fg: #fdd;
  --color__primary__lighter: #fab;
  --color__primary: #c6a;
  --color__primary__darker: #938;
  --color__cta: #8a3;
}


hr {
  background: var(--color__fg);
}
/* -------------------------- LINKS */
a {
  color: var(--color__primary__darker);
  fill: var(--color__primary__darker);
  text-decoration-color: var(--color__primary__lighter);
}
a:active {
  color: var(--color__cta);
  fill: var(--color__cta);
}
a:focus {
  outline-color: (--color__cta);
}
a:hover {
  color: var(--color__cta);
  fill:var(--color__cta);
  text-decoration-color: inherit;
}
/* -------------------------- IMAGES */

.img {
  fill: currentColor;
}
/* --------------------------- HEADINGS */
.page__title,
.article__date_value {
  text-decoration-color: var(--color__primary__lighter);
}


/* --------------------------- Text */
abbr[title] {
  text-decoration-color: var(--color__primary__lighter);
}
blockquote {
  background: var(--color__border);
  border-color: var(--color__link);
}
code {
  background: var(--color__fg);
}
mark {
  background-color: var(--color__bg);
  color: var(--color__border);
  box-shadow: currentColor;
}
pre { 
  background: var(--color__fg);
}