/* -------------------------------- ALEGREYA */
@font-face {
  font-family: 'Alegreya';
  src: url('../fonts/Alegreya/Alegreya-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya';
  src: url('../fonts/Alegreya/Alegreya-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Alegreya';
  src: url('../fonts/Alegreya/Alegreya-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya';
  src: url('../fonts/Alegreya/Alegreya-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}/* -------------------------------- Public Sans */
@font-face {
  font-family: 'Public Sans';
  src:    url('../fonts/PublicSans/woff/PublicSans-Black.woff') format('woff'),
          url('../fonts/PublicSans/woff2/PublicSans-Black.woff2') format('woff2'),
          url('../fonts/PublicSans/ttf/PublicSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Public Sans';
  src:    url('../fonts/PublicSans/woff/PublicSans-BlackItalic.woff') format('woff'),
          url('../fonts/PublicSans/woff2/PublicSans-BlackItalic.woff2') format('woff2'),
          url('../fonts/PublicSans/ttf/PublicSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Public Sans';
  src:    url('../fonts/PublicSans/woff/PublicSans-ExtraBold.woff') format('woff'),
          url('../fonts/PublicSans/woff2/PublicSans-ExtraBold.woff2') format('woff2'),
          url('../fonts/PublicSans/ttf/PublicSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Public Sans';
  src:    url('../fonts/PublicSans/woff/PublicSans-ExtraBoldItalic.woff') format('woff'),
          url('../fonts/PublicSans/woff2/PublicSans-ExtraBoldItalic.woff2') format('woff2'),
          url('../fonts/PublicSans/ttf/PublicSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Public Sans';
  src:    url('../fonts/PublicSans/woff/PublicSans-Bold.woff') format('woff'),
          url('../fonts/PublicSans/woff2/PublicSans-Bold.woff2') format('woff2'),
          url('../fonts/PublicSans/ttf/PublicSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Public Sans';
  src:    url('../fonts/PublicSans/woff/PublicSans-BoldItalic.woff') format('woff'),
          url('../fonts/PublicSans/woff2/PublicSans-BoldItalic.woff2') format('woff2'),
          url('../fonts/PublicSans/ttf/PublicSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Public Sans';
  src:    url('../fonts/PublicSans/woff/PublicSans-SemiBold.woff') format('woff'),
          url('../fonts/PublicSans/woff2/PublicSans-SemiBold.woff2') format('woff2'),
          url('../fonts/PublicSans/ttf/PublicSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Public Sans';
  src:    url('../fonts/PublicSans/woff/PublicSans-SemiBoldItalic.woff') format('woff'),
          url('../fonts/PublicSans/woff2/PublicSans-SemiBoldItalic.woff2') format('woff2'),
          url('../fonts/PublicSans/ttf/PublicSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Public Sans';
  src:    url('../fonts/PublicSans/woff/PublicSans-Medium.woff') format('woff'),
          url('../fonts/PublicSans/woff2/PublicSans-Medium.woff2') format('woff2'),
          url('../fonts/PublicSans/ttf/PublicSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Public Sans';
  src:    url('../fonts/PublicSans/woff/PublicSans-MediumItalic.woff') format('woff'),
          url('../fonts/PublicSans/woff2/PublicSans-MediumItalic.woff2') format('woff2'),
          url('../fonts/PublicSans/ttf/PublicSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Public Sans';
  src:    url('../fonts/PublicSans/woff/PublicSans-Regular.woff') format('woff'),
          url('../fonts/PublicSans/woff2/PublicSans-Regular.woff2') format('woff2'),
          url('../fonts/PublicSans/ttf/PublicSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Public Sans';
  src:    url('../fonts/PublicSans/woff/PublicSans-RegularItalic.woff') format('woff'),
          url('../fonts/PublicSans/woff2/PublicSans-RegularItalic.woff2') format('woff2'),
          url('../fonts/PublicSans/ttf/PublicSans-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Public Sans';
  src:    url('../fonts/PublicSans/woff/PublicSans-Thin.woff') format('woff'),
          url('../fonts/PublicSans/woff2/PublicSans-Thin.woff2') format('woff2'),
          url('../fonts/PublicSans/ttf/PublicSans-Thin.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Public Sans';
  src:    url('../fonts/PublicSans/woff/PublicSans-ThinItalic.woff') format('woff'),
          url('../fonts/PublicSans/woff2/PublicSans-ThinItalic.woff2') format('woff2'),
          url('../fonts/PublicSans/ttf/PublicSans-ThinItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Public Sans';
  src:    url('../fonts/PublicSans/woff/PublicSans-Light.woff') format('woff'),
          url('../fonts/PublicSans/woff2/PublicSans-Light.woff2') format('woff2'),
          url('../fonts/PublicSans/ttf/PublicSans-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Public Sans';
  src:    url('../fonts/PublicSans/woff/PublicSans-LightItalic.woff') format('woff'),
          url('../fonts/PublicSans/woff2/PublicSans-LightItalic.woff2') format('woff2'),
          url('../fonts/PublicSans/ttf/PublicSans-LightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Public Sans';
  src:    url('../fonts/PublicSans/woff/PublicSans-ExtraLight.woff') format('woff'),
          url('../fonts/PublicSans/woff2/PublicSans-ExtraLight.woff2') format('woff2'),
          url('../fonts/PublicSans/ttf/PublicSans-ExtraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Public Sans';
  src:    url('../fonts/PublicSans/woff/PublicSans-ExtraLightItalic.woff') format('woff'),
          url('../fonts/PublicSans/woff2/PublicSans-ExtraLightItalic.woff2') format('woff2'),
          url('../fonts/PublicSans/ttf/PublicSans-ExtraLightItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
/* -------------------------------- FANTASQUE SANS MONO https://awesomeopensource.com/project/belluzj/fantasque-sans */
@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('../fonts/FantasqueSansMono/FantasqueSansMono-Regular.woff2') format('woff2'),
       url('../fonts/FantasqueSansMono/FantasqueSansMono-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
       url('../fonts/FantasqueSansMono/FantasqueSansMono-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FantasqueSansMono/FantasqueSansMono-Regular.svg#FantasqueSansMono-Regular') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('../fonts/FantasqueSansMono/FantasqueSansMono-Italic.woff2') format('woff2'),
       url('../fonts/FantasqueSansMono/FantasqueSansMono-Italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
       url('../fonts/FantasqueSansMono/FantasqueSansMono-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FantasqueSansMono/FantasqueSansMono-Italic.svg#FantasqueSansMono-Italic') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('../fonts/FantasqueSansMono/FantasqueSansMono-Bold.woff2') format('woff2'),
       url('../fonts/FantasqueSansMono/FantasqueSansMono-Bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
       url('../fonts/FantasqueSansMono/FantasqueSansMono-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FantasqueSansMono/FantasqueSansMono-Bold.svg#FantasqueSansMono-Bold') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('../fonts/FantasqueSansMono/FantasqueSansMono-BoldItalic.woff2') format('woff2'),
       url('../fonts/FantasqueSansMono/FantasqueSansMono-BoldItalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
       url('../fonts/FantasqueSansMono/FantasqueSansMono-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FantasqueSansMono/FantasqueSansMono-BoldItalic.svg#FantasqueSansMono-BoldItalic') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 700;
  font-style: italic;
}
/* -------------------------------- FAUNE */
@font-face {
  font-family: 'Faune Display';
  src:    url('../fonts/Faune/eot/Faune-Display_Black.eot');
  src:    url('../fonts/Faune/eot/Faune-Display_Black.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Faune/woff/Faune-Display_Black.woff') format('woff'),
          url('../fonts/Faune/woff2/Faune-Display_Black.woff2') format('woff2'),
          url('../fonts/Faune/ttf/Faune-Display_Black.ttf') format('truetype'),
          url('../fonts/Faune/svg/Faune-Display_Black.svg#svgFontName') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Faune Display';
  src:    url('../fonts/Faune/eot/Faune-Display_Bold_Italic.eot');
  src:    url('../fonts/Faune/eot/Faune-Display_Bold_Italic.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Faune/woff/Faune-Display_Bold_Italic.woff') format('woff'),
          url('../fonts/Faune/woff2/Faune-Display_Bold_Italic.woff2') format('woff2'),
          url('../fonts/Faune/ttf/Faune-Display_Bold_Italic.ttf') format('truetype'),
          url('../fonts/Faune/svg/Faune-Display_Bold_Italic.svg#svgFontName') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Faune Display';
  src:    url('../fonts/Faune/eot/Faune-Display_Thin.eot');
  src:    url('../fonts/Faune/eot/Faune-Display_Thin.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Faune/woff/Faune-Display_Thin.woff') format('woff'),
          url('../fonts/Faune/woff2/Faune-Display_Thin.woff2') format('woff2'),
          url('../fonts/Faune/ttf/Faune-Display_Thin.ttf') format('truetype'),
          url('../fonts/Faune/svg/Faune-Display_Thin.svg#svgFontName') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Faune';
  src:    url('../fonts/Faune/eot/Faune-Text_Bold.eot');
  src:    url('../fonts/Faune/eot/Faune-Text_Bold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Faune/woff/Faune-Text_Bold.woff') format('woff'),
          url('../fonts/Faune/woff2/Faune-Text_Bold.woff2') format('woff2'),
          url('../fonts/Faune/ttf/Faune-Text_Bold.ttf') format('truetype'),
          url('../fonts/Faune/svg/Faune-Text_Bold.svg#svgFontName') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Faune';
  src:    url('../fonts/Faune/eot/Faune-Text_Italic.eot');
  src:    url('../fonts/Faune/eot/Faune-Text_Italic.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Faune/woff/Faune-Text_Italic.woff') format('woff'),
          url('../fonts/Faune/woff2/Faune-Text_Italic.woff2') format('woff2'),
          url('../fonts/Faune/ttf/Faune-Text_Italic.ttf') format('truetype'),
          url('../fonts/Faune/svg/Faune-Text_Italic.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Faune';
  src:    url('../fonts/Faune/eot/Faune-Text_Regular.eot');
  src:    url('../fonts/Faune/eot/Faune-Text_Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Faune/woff/Faune-Text_Regular.woff') format('woff'),
          url('../fonts/Faune/woff2/Faune-Text_Regular.woff2') format('woff2'),
          url('../fonts/Faune/ttf/Faune-Text_Regular.ttf') format('truetype'),
          url('../fonts/Faune/svg/Faune-Text_Regular.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}