body {
  display: grid;
  grid-template-columns: 1fr minmax(10em,40em) 1fr 1fr;
  grid-template-rows: min-content auto 1fr min-content;
  grid-template-areas:
    "header header header header" 
    ". page page ."
    ". . . ."
    "footer footer footer footer"
  ;
  align-content: center;
  min-height: 100vh;
  margin: 0 1rem;
}
  .header {
    display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    grid-area: header;
    margin: 1rem;
  }
    .header__title {
      display: flex;
        flex-flow: row wrap;
    }
  .page {
    grid-area: page;
    margin: 0 1rem;
  }
    .page__header {
      display: flex;
      flex-flow: row wrap;
    }


.nav__menu {
  list-style: none;
  text-align: right;
}
  .nav__menu__item::after {
    content: '';
  }

.nav__breadcrumb {
  display: flex;
  list-style: none;
}
.nav__breadcrumb li::before {
  content: '\00a0>\00a0';
}
  .footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-items: center;
  }


/* -------------------------- Formatting */
blockquote {
  border: 0.1em dashed;
  margin: 1em 0;
  padding: 2em;
  position: relative;
}
  blockquote cite {
    position: absolute;
    bottom: 1em;
    right: 1em;
  }
  blockquote cite::before {
    content: '';
  }
code {
  display: block;
}
.page__body ul,
.page__body ol {
  margin: 1em 0;
}
.page__body li {
  margin: 0.5em 0;
  line-height: 1.3em;
}
.page__body p {
  line-height: 1.3em;
  margin: 0.5em 0;
}
pre {
    border-radius: 10% 0;
    overflow-x: auto;
    padding: 1rem;
    white-space: pre-wrap;
  }


/* -------------------- Headings */
.page__title {
  margin-left: -0.05em;
  margin-bottom: 0.33em;
  padding: 0;
}
.page__title::after {
  content: '.';
}
.page__body h1 {
  text-align: center;
  margin: 0.5em 0;
}
.page__body h3 {
  margin-top: 2em;
}