@import url("_base.css");
body {
  display: grid;
  grid-template-columns: 1fr minmax(10em,40em) 1fr 1fr;
  grid-template-rows: 6rem auto 1fr min-content;
  grid-template-areas:
    "header header header header" 
    ". page page ."
    ". . . ."
    "footer footer footer footer"
  ;
  align-content: center;
  min-height: 100vh;
  margin: 0 1rem;
}
  .header {
    display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    grid-area: header;
    margin: 1rem;
  }
  .page {
    grid-area: page;
    display: flex;
    flex-flow: row wrap;
    row-gap: 6rem;
    margin: 0 1rem;
  }
    .page__header {
      display: flex;
      flex-flow: row wrap;
    }

.nav__menu {
  list-style: none;
  text-align: right;
}
  .nav__menu__item::after {
    content: '';
  }
  .footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-items: center;
  }