dl, ul, ol,
li, dt, dd,
h1, h2, h3, h4,
body, main, header, footer, section, article,
p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
hr {
  border: 0;
  height: 1px;
  margin: var(--baseline-l) auto;
  width: 33%;
}
/* ------------------------------------------------------ Images ------------------------------------------------- */
.img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}
/* ------------------------------------------------------ Links ------------------------------------------------- */
a {
  box-sizing: border-box;
  margin: 0;
  text-decoration: solid underline 0.125em;
}
a:focus {
  outline: 0.2em dashed;
  outline-offset: 0.2em;
}

/* ------------------------------------------------------ Lists ------------------------------------------------- */
ul {
  list-style: outside circle;
}
ul ul {
  margin-left: 1rem;
}