@import url("_base.css");
.header__title {
  font-family: var(--font__custom__mono), var(--font__mono);
  font-size: 1em;
  text-transform: capitalize;
  font-weight: bold;
}



.footer {
  font-family: var(--font__custom__body);
  font-size: 1.1em;
  margin: 0.5em 0;
}

.nav__menu {
  font-family: var(--font__custom__mono), var(--font__mono);
  font-weight: bold;
  font-size: 2em;
}



.page__title {
  font-family: var(--font__custom__heading);
  font-size: calc(10em + 2vw);
  font-weight: bold;
  letter-spacing: -0.066em;
  line-height: 1.1;
}
.page__headline {
  font-family: var(--font__custom__headline), var(--font__serif);
  font-size: calc(2.5em + 2vw);
  letter-spacing: -0.05em;
  line-height: 1.1;
}
.page__body {
  font-family: var(--font__custom__body);
  font-size: 1.5em;
  line-height: 1.1;
}