body {
  font-size: var(--font-size);
}
.page {
  font-size: calc(2.5em + 2vw);
  letter-spacing: -0.05em;
  line-height: 1.1;
}

.page__title {
  font-family: 'Faune';
  font-size: calc(2.5em + 2vw);
  font-weight: bold;
  letter-spacing: -0.05em;
  line-height: 1.1;
}

.page__headline {
  font-family: 'Faune Display';
  letter-spacing: -0.05em;
  line-height: 1.1;
  margin-left: 0.1em;
}