/* --------------------------------------------------- HEADINGS */
.page__title {
  font-family: var(--font__custom__heading);
  font-size: calc(6rem + 2vw);
  font-weight: bold;
  letter-spacing: -0.066em;
  line-height: 1.1;
  text-decoration-line: underline;
}
.page__headline,
.page__body h1 {
  font-family: var(--font__custom__headline), var(--font__serif);
  font-size: calc(2rem + 2vw);
  letter-spacing: -0.05em;
  line-height: 1.1;
}
.page__body h2 {
  font-family: var(--font__custom__headline);
  font-size: calc(1rem + 2vw);
  font-weight: normal;
}
.page__body h3 {
  font-family: var(--font__custom__body);
  font-size: calc(1rem + 1vw);
  font-weight: normal;
}
/* --------------------------------------------------- NAVIGATIONS */
.nav__breadcrumb {
  font-family: var(--font__custom__mono), var(--font__mono);
  font-size: calc(1rem * 0.66);
  text-transform: capitalize;
  font-weight: bold;
}
.nav__menu {
  font-family: var(--font__custom__mono), var(--font__mono);
  font-weight: bold;
}
/* --------------------------------------------------- Formatting */
abbr,
mark,
sup {
  font-variant: small-caps;
  font-size: 1.15em;
  letter-spacing: 0.15em;
}
code,
pre,
time {
  font-family: var(--font__custom-mono), var(--font-mono);
}
cite,
q {
  font-style: italic;
}
blockquote cite {
  font-size: 0.8em;
}
mark {
  box-sizing: border-box;
  box-shadow: inset 0 0 -2em;
  font-family: var(--font__custom__body), var(--font-serif);
  font-weight: 600;
  letter-spacing: 0.05em;
}
sup {
  font-weight: bold;
}
time {
  font-size: 0.8em;
}
/* --------------------------------------------------- ARTICLE -- Meta Data */
.article__date_value {
  font-family: var(--font__custom__headline), var(--font__serif);
  font-size: calc(1.66rem + 2vw);
  letter-spacing: -0.05em;
  line-height: 1.1;
  text-decoration-line: underline;
}
.article__date_value time::after {
  content: ':';
}

/* --------------------------------------------------- TEXT */
.page__body {
  font-family: var(--font__custom__body);
  font-size: 1rem;
  line-height: 1.1;
}