{% extends "_base.njk" %}
{% block article %}
<article class="article">
  {% include "_article__header.njk" %}
  <section class="article__body">
    {{ content | safe }}
  </section>
  <footer class="article__footer">
    {{ article__footer }}
  </footer>
</article>
{% endblock %}