{% extends "_base.njk" %}
{% block article %}
<article class="article">
  {% include "_article__header.njk" %}
  {% include "_article__body.njk" %}
  {% include "_article__footer.njk" %}
</article>
{% endblock %}