{% extends "_base.njk" %}
{% block page %}
<header class="page__header">
  <h1 class="page__title">{{ title }}</h1>
  <span class="page__headline">{{ headline }}</span>
</header>
<section class="page__body">
  {{ content | safe }}
</section>
{% endblock %}