{% extends "_base.njk" %}
{% block page %}
<header>
  <h1 class="page__title">{{ title }}</h1>
  <span class="page__headline">{{ headline }}</span>
</header>
<section>
  {{ content | safe }}
</section>
{% endblock %}