{% extends "_base.njk" %}
{% block main %}
<header class="page__header">
  <h1 class="page__title">{{ title }}</h1>
</header>
<section class="page__body">
  {{ content | safe }}
</section>
{% endblock %}