{% extends "_base.njk" %}
{% block main %}
<article>
  <header class="post__header">
    <h1 class="post__title">{{ title }}</h1>
    <dl>
      <dt class="hidden">Published on:</dt>
        <dd class="article__date_value"><time datetime="{{ page.date | dateIso }}">{{ page.date | dateReadable }}</time></dd>
    </dl>
  </header>
  <section class="post__body">
    {{ content | safe }}
  </section>
</article>
{% endblock %}