{% extends "_base.njk" %}
{% block main %}
<article>
  <dl class="post__header">
    <dt class="hidden">Published on:</dt>
   <dd class="article__date_value"><time datetime="{{ page.date | dateIso }}">{{ page.date | dateReadable }}</time></dd>
  </dl>
  <section class="post__body">
    {{ content | safe }}
  </section>
</article>
{% endblock %}